In [18]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [20]:
employee_data = [
    # Departemen Keuangan
    {'nama': 'Budi Santoso', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 4500000},
    {'nama': 'Rudi Hartono', 'departemen': 'Keuangan', 'usia': 25, 'gaji': 4800000},
    {'nama': 'Slamet Riyadi', 'departemen': 'Keuangan', 'usia': 32, 'gaji': 5200000},
    {'nama': 'Dian Puspita', 'departemen': 'Keuangan', 'usia': 28, 'gaji': 5000000},
    {'nama': 'Rina Ayu', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 6200000},
    {'nama': 'Agus Prabowo', 'departemen': 'Keuangan', 'usia': 30, 'gaji': 6100000},

    # Departemen IT
    {'nama': 'Siti Rahma', 'departemen': 'IT', 'usia': 31, 'gaji': 6500000},
    {'nama': 'Dewi Lestari', 'departemen': 'IT', 'usia': 35, 'gaji': 7500000},
    {'nama': 'Teguh Saputra', 'departemen': 'IT', 'usia': 29, 'gaji': 7200000},
    {'nama': 'Andika Pratama', 'departemen': 'IT', 'usia': 27, 'gaji': 6800000},
    {'nama': 'Yusuf Hadi', 'departemen': 'IT', 'usia': 26, 'gaji': 6300000},
    {'nama': 'Nur Aini', 'departemen': 'IT', 'usia': 33, 'gaji': 7000000},

    # Departemen HRD
    {'nama': 'Andi Pratama', 'departemen': 'HRD', 'usia': 27, 'gaji': 5200000},
    {'nama': 'Ratna Sari', 'departemen': 'HRD', 'usia': 30, 'gaji': 5400000},
    {'nama': 'Dwi Handoko', 'departemen': 'HRD', 'usia': 28, 'gaji': 5100000},
    {'nama': 'Fitriani', 'departemen': 'HRD', 'usia': 32, 'gaji': 5600000},
    {'nama': 'Reza Maulana', 'departemen': 'HRD', 'usia': 35, 'gaji': 5800000},

    # Departemen Pemasaran
    {'nama': 'Fitriani', 'departemen': 'Pemasaran', 'usia': 30, 'gaji': 6000000},
    {'nama': 'Lina Marlina', 'departemen': 'Pemasaran', 'usia': 27, 'gaji': 5900000},
    {'nama': 'Fajar Nugroho', 'departemen': 'Pemasaran', 'usia': 29, 'gaji': 6500000},
    {'nama': 'Ahmad Zulkifli', 'departemen': 'Pemasaran', 'usia': 31, 'gaji': 6200000},
    {'nama': 'Tania Putri', 'departemen': 'Pemasaran', 'usia': 34, 'gaji': 6700000},
    {'nama': 'Riko Santosa', 'departemen': 'Pemasaran', 'usia': 28, 'gaji': 6100000}
]

collection.insert_many(employee_data)
print("âœ… Data karyawan berhasil diperbarui")

for employee in collection.find():
    print(employee)

âœ… Data karyawan berhasil diperbarui
{'_id': ObjectId('6902c98a325ec8774e8fad52'), 'nama': 'Budi Santoso', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 4500000}
{'_id': ObjectId('6902c98a325ec8774e8fad53'), 'nama': 'Rudi Hartono', 'departemen': 'Keuangan', 'usia': 25, 'gaji': 4800000}
{'_id': ObjectId('6902c98a325ec8774e8fad54'), 'nama': 'Slamet Riyadi', 'departemen': 'Keuangan', 'usia': 32, 'gaji': 5200000}
{'_id': ObjectId('6902c98a325ec8774e8fad55'), 'nama': 'Dian Puspita', 'departemen': 'Keuangan', 'usia': 28, 'gaji': 5000000}
{'_id': ObjectId('6902c98a325ec8774e8fad56'), 'nama': 'Rina Ayu', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 6200000}
{'_id': ObjectId('6902c98a325ec8774e8fad57'), 'nama': 'Agus Prabowo', 'departemen': 'Keuangan', 'usia': 30, 'gaji': 6100000}
{'_id': ObjectId('6902c98a325ec8774e8fad58'), 'nama': 'Siti Rahma', 'departemen': 'IT', 'usia': 31, 'gaji': 6500000}
{'_id': ObjectId('6902c98a325ec8774e8fad59'), 'nama': 'Dewi Lestari', 'departemen': 'IT', 'usia': 35, 'gaji': 7500000}
{'_id': ObjectId('6902c98a325ec8774e8fad5a'), 'nama': 'Teguh Saputra', 'departemen': 'IT', 'usia': 29, 'gaji': 7200000}
{'_id': ObjectId('6902c98a325ec8774e8fad5b'), 'nama': 'Andika Pratama', 'departemen': 'IT', 'usia': 27, 'gaji': 6800000}
{'_id': ObjectId('6902c98a325ec8774e8fad5c'), 'nama': 'Yusuf Hadi', 'departemen': 'IT', 'usia': 26, 'gaji': 6300000}
{'_id': ObjectId('6902c98a325ec8774e8fad5d'), 'nama': 'Nur Aini', 'departemen': 'IT', 'usia': 33, 'gaji': 7000000}
{'_id': ObjectId('6902c98a325ec8774e8fad5e'), 'nama': 'Andi Pratama', 'departemen': 'HRD', 'usia': 27, 'gaji': 5200000}
{'_id': ObjectId('6902c98a325ec8774e8fad5f'), 'nama': 'Ratna Sari', 'departemen': 'HRD', 'usia': 30, 'gaji': 5400000}
{'_id': ObjectId('6902c98a325ec8774e8fad60'), 'nama': 'Dwi Handoko', 'departemen': 'HRD', 'usia': 28, 'gaji': 5100000}
{'_id': ObjectId('6902c98a325ec8774e8fad61'), 'nama': 'Fitriani', 'departemen': 'HRD', 'usia': 32, 'gaji': 5600000}
{'_id': ObjectId('6902c98a325ec8774e8fad62'), 'nama': 'Reza Maulana', 'departemen': 'HRD', 'usia': 35, 'gaji': 5800000}
{'_id': ObjectId('6902c98a325ec8774e8fad63'), 'nama': 'Fitriani', 'departemen': 'Pemasaran', 'usia': 30, 'gaji': 6000000}
{'_id': ObjectId('6902c98a325ec8774e8fad64'), 'nama': 'Lina Marlina', 'departemen': 'Pemasaran', 'usia': 27, 'gaji': 5900000}
{'_id': ObjectId('6902c98a325ec8774e8fad65'), 'nama': 'Fajar Nugroho', 'departemen': 'Pemasaran', 'usia': 29, 'gaji': 6500000}
{'_id': ObjectId('6902c98a325ec8774e8fad66'), 'nama': 'Ahmad Zulkifli', 'departemen': 'Pemasaran', 'usia': 31, 'gaji': 6200000}
{'_id': ObjectId('6902c98a325ec8774e8fad67'), 'nama': 'Tania Putri', 'departemen': 'Pemasaran', 'usia': 34, 'gaji': 6700000}
{'_id': ObjectId('6902c98a325ec8774e8fad68'), 'nama': 'Riko Santosa', 'departemen': 'Pemasaran', 'usia': 28, 'gaji': 6100000}

In [27]:
# ===== TAMBAH DATA KARYAWAN TERMASUK YANG USIA < 25 =====
karyawan_baru = [
    {'nama': 'Rina Sari', 'departemen': 'Keuangan', 'usia': 23, 'gaji': 4200000},
    {'nama': 'Fajar Hidayat', 'departemen': 'IT', 'usia': 24, 'gaji': 5500000},
    {'nama': 'Lutfi Ramadhan', 'departemen': 'Pemasaran', 'usia': 22, 'gaji': 4000000},
    {'nama': 'Nadia Putri', 'departemen': 'HRD', 'usia': 21, 'gaji': 3900000},
    {'nama': 'Rizki Ananda', 'departemen': 'Keuangan', 'usia': 20, 'gaji': 3700000}
]

collection.insert_many(karyawan_baru)
print("âœ… Data karyawan baru berhasil ditambahkan!")

âœ… Data karyawan baru berhasil ditambahkan!

In [28]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$departemen', 'rata_gaji': {'$avg': '$gaji'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'IT', 'rata_gaji': 6685714.285714285}
{'_id': 'Keuangan', 'rata_gaji': 4962500.0}
{'_id': 'Pemasaran', 'rata_gaji': 5914285.714285715}
{'_id': 'HRD', 'rata_gaji': 5166666.666666667}

In [10]:
produk = db['produk']

data_produk = [
    {'nama': 'Kopi Kapal Api', 'kategori': 'Minuman', 'harga': 12000},
    {'nama': 'Indomie Goreng', 'kategori': 'Makanan', 'harga': 3500},
    {'nama': 'Teh Botol Sosro', 'kategori': 'Minuman', 'harga': 6000},
    {'nama': 'Rinso Cair', 'kategori': 'Kebutuhan Rumah', 'harga': 18000},
    {'nama': 'Sunlight', 'kategori': 'Kebutuhan Rumah', 'harga': 10000},
    {'nama': 'Pulpen Pilot', 'kategori': 'Alat Tulis', 'harga': 5000},
    {'nama': 'Buku Tulis Sinar Dunia', 'kategori': 'Alat Tulis', 'harga': 7000},
    {'nama': 'Good Day Cappuccino', 'kategori': 'Minuman', 'harga': 8000},
    {'nama': 'Chitato', 'kategori': 'Makanan', 'harga': 9000},
    {'nama': 'Pepsodent', 'kategori': 'Kebutuhan Rumah', 'harga': 12000}
]
produk.insert_many(data_produk)
print("âœ… 10 produk berhasil dimasukkan")

âœ… 10 produk berhasil dimasukkan

In [11]:
rata_harga = list(produk.aggregate([
    {'$group': {'_id': None, 'rata_harga': {'$avg': '$harga'}}}
]))[0]['rata_harga']

print(f"ðŸ’° Rata-rata harga produk: {rata_harga:.2f}\n")
print("Produk dengan harga di atas rata-rata:")
for item in produk.find({'harga': {'$gt': rata_harga}}):
    print(item)

ðŸ’° Rata-rata harga produk: 9050.00

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6902be000f528dcaeebc70f0'), 'nama': 'Kopi Kapal Api', 'kategori': 'Minuman', 'harga': 12000}
{'_id': ObjectId('6902be000f528dcaeebc70f3'), 'nama': 'Rinso Cair', 'kategori': 'Kebutuhan Rumah', 'harga': 18000}
{'_id': ObjectId('6902be000f528dcaeebc70f4'), 'nama': 'Sunlight', 'kategori': 'Kebutuhan Rumah', 'harga': 10000}
{'_id': ObjectId('6902be000f528dcaeebc70f9'), 'nama': 'Pepsodent', 'kategori': 'Kebutuhan Rumah', 'harga': 12000}

In [13]:
pipeline = [
    {'$group': {'_id': '$kategori', 'jumlah_produk': {'$sum': 1}}}
]

for hasil in produk.aggregate(pipeline):
    print(hasil)

{'_id': 'Kebutuhan Rumah', 'jumlah_produk': 3}
{'_id': 'Minuman', 'jumlah_produk': 3}
{'_id': 'Alat Tulis', 'jumlah_produk': 2}
{'_id': 'Makanan', 'jumlah_produk': 2}

In [29]:
pipeline = [
    # Kelompokkan berdasarkan departemen
    {"$sort": {"departemen": 1, "gaji": -1}},  # urutkan dulu per departemen dan gaji tertinggi
    # Kelompokkan per departemen dan simpan daftar karyawan
    {"$group": {
        "_id": "$departemen",
        "karyawan": {
            "$push": {
                "nama": "$nama",
                "usia": "$usia",
                "gaji": "$gaji"
            }
        }
    }},
    # Ambil hanya 5 karyawan pertama dari setiap departemen
    {"$project": {
        "_id": 1,
        "top5_karyawan": {"$slice": ["$karyawan", 5]}
    }}
]

hasil = list(collection.aggregate(pipeline))

print("5 Karyawan dengan gaji tertinggi di setiap departemen:\n")
for dept in hasil:
    print(f"Departemen: {dept['_id']}")
    for k in dept['top5_karyawan']:
        print(f"  - {k['nama']} | Usia: {k['usia']} | Gaji: Rp{k['gaji']:,}")
    print()

5 Karyawan dengan gaji tertinggi di setiap departemen:

Departemen: Keuangan
  - Rina Ayu | Usia: 35 | Gaji: Rp6,200,000
  - Agus Prabowo | Usia: 30 | Gaji: Rp6,100,000
  - Slamet Riyadi | Usia: 32 | Gaji: Rp5,200,000
  - Dian Puspita | Usia: 28 | Gaji: Rp5,000,000
  - Rudi Hartono | Usia: 25 | Gaji: Rp4,800,000

Departemen: IT
  - Dewi Lestari | Usia: 35 | Gaji: Rp7,500,000
  - Teguh Saputra | Usia: 29 | Gaji: Rp7,200,000
  - Nur Aini | Usia: 33 | Gaji: Rp7,000,000
  - Andika Pratama | Usia: 27 | Gaji: Rp6,800,000
  - Siti Rahma | Usia: 31 | Gaji: Rp6,500,000

Departemen: Pemasaran
  - Tania Putri | Usia: 34 | Gaji: Rp6,700,000
  - Fajar Nugroho | Usia: 29 | Gaji: Rp6,500,000
  - Ahmad Zulkifli | Usia: 31 | Gaji: Rp6,200,000
  - Riko Santosa | Usia: 28 | Gaji: Rp6,100,000
  - Fitriani | Usia: 30 | Gaji: Rp6,000,000

Departemen: HRD
  - Reza Maulana | Usia: 35 | Gaji: Rp5,800,000
  - Fitriani | Usia: 32 | Gaji: Rp5,600,000
  - Ratna Sari | Usia: 30 | Gaji: Rp5,400,000
  - Andi Pratama | Usia: 27 | Gaji: Rp5,200,000
  - Dwi Handoko | Usia: 28 | Gaji: Rp5,100,000

In [30]:
# ===== HAPUS KARYAWAN DI BAWAH USIA 25 =====
hasil_hapus = collection.delete_many({'usia': {'$lt': 25}})

print(f"ðŸ—‘ï¸ Jumlah karyawan yang dihapus: {hasil_hapus.deleted_count}")

ðŸ—‘ï¸ Jumlah karyawan yang dihapus: 5

In [31]:
# ===== TOTAL GAJI DAN RATA-RATA USIA PER DEPARTEMEN =====
pipeline = [
    {
        '$group': {
            '_id': '$departemen',
            'total_gaji': {'$sum': '$gaji'},
            'rata_usia': {'$avg': '$usia'},
            'jumlah_karyawan': {'$sum': 1}
        }
    },
    {
        '$sort': {'_id': 1}
    }
]

laporan = list(collection.aggregate(pipeline))

print("ðŸ“‹ LAPORAN GAJI & USIA PER DEPARTEMEN:\n")
for dept in laporan:
    print(f"Departemen: {dept['_id']}")
    print(f"  - Total Gaji: Rp{dept['total_gaji']:,}")
    print(f"  - Rata-rata Usia: {dept['rata_usia']:.2f} tahun")
    print(f"  - Jumlah Karyawan: {dept['jumlah_karyawan']}")
    print()

ðŸ“‹ LAPORAN GAJI & USIA PER DEPARTEMEN:

Departemen: HRD
  - Total Gaji: Rp27,100,000
  - Rata-rata Usia: 30.40 tahun
  - Jumlah Karyawan: 5

Departemen: IT
  - Total Gaji: Rp41,300,000
  - Rata-rata Usia: 30.17 tahun
  - Jumlah Karyawan: 6

Departemen: Keuangan
  - Total Gaji: Rp31,800,000
  - Rata-rata Usia: 29.83 tahun
  - Jumlah Karyawan: 6

Departemen: Pemasaran
  - Total Gaji: Rp37,400,000
  - Rata-rata Usia: 29.83 tahun
  - Jumlah Karyawan: 6